.message-delete {
    position: absolute;
    top: 35px;
    right: 5px;
    cursor: pointer;
    font-size: 18px;
}

.own-message {
    align-self: flex-end;
}

.own-message .message-text {
    padding-left: 20px;
    margin-top: 10px;
    width: 250px;
    margin-right: 20px;
}
.message-edit {
    position: absolute;
    top: 10px;
    right: 5px;
    cursor: pointer;
    font-size: 18px;
}
